<app-header></app-header>

<div class="container lg:mx-4">
    <div class="row">
        <div class="col-12 col-md-4">
        
            <h3 class="w-full text-center text-4xl font-bold my-5 title">Los Secretos del Lettering</h3>

        </div>
        <div class="col-12 col-md-8">
            <div class="card p-10 m-10">
                <div class="card-body">
                    <h5 class="card-title font-bold">Descripción</h5>
                    <p class="card-text text-justify">
                        "Los Secretos del Lettering" de Fidel López es una guía práctica y completa para adentrarse en el mundo del diseño de letras a mano. A través de 10 claves fundamentales, el autor comparte sus conocimientos y experiencia para ayudarte a desarrollar tus habilidades en lettering. Desde los conceptos básicos hasta técnicas más avanzadas, este libro ofrece consejos útiles, ejemplos inspiradores y ejercicios prácticos para que puedas crear diseños personalizados y llenos de estilo. Ya seas un principiante o un diseñador experimentado, encontrarás en esta obra una valiosa herramienta para mejorar tus proyectos y dar rienda suelta a tu creatividad.
                    </p>
                    <h5 class="card-title font-bold">Autores</h5>
                    <p class="card-text">Fidel López González</p>
                    <h5 class="card-title font-bold">Editorial</h5>
                    <p class="card-text">Fidel López González (Autopublicado)</p>
                    <h5 class="card-title font-bold">Año de publicación</h5>
                    <p class="card-text">2015</p>
                </div>
            </div>

            <div class="card p-10 m-10 flex justify-center">
                <pdf-viewer 
                    src="/assets/books/Los-Secretos-del-Lettering.pdf"
                    [render-text]="true"
                    [original-size]="false"
                    style="width: 75%; height: 1200px"
                    [zoom-scale]="'page-width'"
                >
                </pdf-viewer>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
