<app-header></app-header>

<div class="container lg:mx-4">
    <div class="row">
        <div class="col-12 col-md-4">
        
            <h3 class="w-full text-center text-4xl font-bold my-5 title">Principios de Contabilidad</h3>

        </div>
        <div class="col-12 col-md-8">
            <div class="card p-10 m-10">
                <div class="card-body">
                    <h5 class="card-title font-bold">Descripción</h5>
                    <p class="card-text text-justify">
                        Imagina que la contabilidad es como un idioma que usan las empresas para hablar de su dinero. El libro "Principios de Contabilidad" de McGraw Hill te enseña este idioma desde cero. Te explica cómo las empresas llevan un registro de cuánto ganan, cuánto gastan y qué tienen. Es como si te enseñaran a leer un balance general o un estado de resultados. Al final, entenderás cómo funciona el dinero dentro de una empresa y podrás tomar mejores decisiones. Es como tener un mapa del tesoro para encontrar los secretos de la economía de cualquier negocio.
                        <br>
                        En resumen, este libro te da las herramientas para comprender el lenguaje de los negocios y tomar decisiones más inteligentes, ya sea que quieras trabajar en una empresa, emprender tu propio negocio o simplemente entender mejor cómo funciona el mundo financiero.
                    </p>
                    <h5 class="card-title font-bold">Autores</h5>
                    <p class="card-text">Alvaro Javier Romero Lopez</p>
                    <h5 class="card-title font-bold">Editorial</h5>
                    <p class="card-text">McGrawHill Interamericana Editores, S.A.</p>
                    <h5 class="card-title font-bold">Año de publicación</h5>
                    <p class="card-text">2015</p>
                </div>
            </div>

            <div class="card p-10 m-10 flex justify-center">
                <pdf-viewer 
                    src="/assets/books/principios-contabilidad.pdf"
                    [render-text]="true"
                    [original-size]="false"
                    style="width: 75%; height: 1050px"
                    [zoom-scale]="'page-width'"
                >
                </pdf-viewer>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>