.card {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 5px solid #35576E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #182F41;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}