<app-header></app-header>

<main
  class="w-full min-h-screen flex justify-center flex-col items-center px-6 py-16 bg-gradient-to-r from-red-500 via-orange-500 to-yellow-500 relative"
>
  <div class="absolute inset-0 bg-black opacity-30 z-0"></div>

  <div class="w-full max-w-4xl mx-auto text-center z-10">
    <h1 class="text-4xl font-extrabold text-white mb-6 title">Comunicacion Social</h1>
    <p class="text-lg text-white opacity-80 mb-12">
      Encuentra libros y recursos de Comunicacion Social para enriquecer tu conocimiento y
      profundizar en esta área del saber.
    </p>

    <div class="w-full flex justify-center items-center">
      <app-book-card [books]="books"></app-book-card>
    </div>
  </div>
</main>

<app-footer></app-footer>
