<footer class="footer text-center w-100 py-6 bg-gray-900 text-white">
  <div
    class="container flex flex-col md:flex-row justify-between items-center mx-auto px-4"
  >
    <!-- Texto principal -->
    <span class="text-muted mb-4 md:mb-0"
      >© Todos los derechos reservados. 2024.</span
    >

    <!-- Enlaces adicionales (Política y Términos) -->
    <div class="mb-4 md:mb-0">
      <a
        href="/politica-privacidad"
        class="text-muted hover:text-white transition-colors mx-2"
        >Política de Privacidad</a
      >
      <a
        href="/terminos-condiciones"
        class="text-muted hover:text-white transition-colors mx-2"
        >Términos y Condiciones</a
      >
    </div>

    <!-- Redes sociales -->
    <div class="flex space-x-4">
      <a
        target="_blank"
        class="text-muted hover:text-white transition-colors"
        href="https://www.instagram.com/digilibrarymcb/profilecard/?igsh=MWN2cDF1bXJ0eW5hcQ=="
      >
        <img
          src="href=../../../../assets/Instagram.png"
          alt="instagram"
          class="hover:text-white transition-colors "
        />
      </a>
    </div>
  </div>
</footer>
