<app-header></app-header>

<main
  class="w-full min-h-screen flex flex-col items-center px-4 sm:px-6 md:px-8 lg:px-12 py-8 bg-center bg-cover relative"
  style="
    background-image: url('https://cdn.urbe.edu/portal-urbe/images/university/fachada-completa.jpg');
  "
>
  <div class="absolute inset-0 bg-black opacity-40 z-0"></div>

  <div class="w-full flex justify-center items-center relative z-10 mt-16 sm:mt-20 lg:mt-24">
    <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold text-white text-center text-shadow px-2">
      Librería Digital
    </h1>
  </div>

  <div class="w-full flex justify-center items-center mt-6 sm:mt-8 lg:mt-10 relative z-10 gap-6">
    <app-menu-options
      [options]="options"
    ></app-menu-options>
  </div>
</main>

<app-footer></app-footer>
