<app-header></app-header>

<div class="container lg:mx-4">
    <div class="row">
        <div class="col-12 col-md-4">
        
            <h3 class="w-full text-center text-4xl font-bold my-5 title">Historia y Comunicación Social</h3>

        </div>
        <div class="col-12 col-md-8">
            <div class="card p-10 m-10">
                <div class="card-body">
                    <h5 class="card-title font-bold">Descripción</h5>
                    <p class="card-text text-justify">
                        Historia y comunicación social no es una historia "de" la comunicación social: es un análisis de cómo el poder -los grupos que lo constituyen y los que aspiran a reemplazarlos- reproduce sus valores en sociedades cambiantes a través de unos instrumentos también cambiantes, cuya eficacia resulta maximizada por el progreso técnico: de ese modo se produce una interrelación entre la historia -la evolución de las sociedades y sus aparatos de dominación- y los sistemas y principios de la comunicación que legitima, critica y moldea conciencias.
                    </p>
                    <h5 class="card-title font-bold">Autores</h5>
                    <p class="card-text">Manuel Vázquez Montalbán</p>
                    <h5 class="card-title font-bold">Editorial</h5>
                    <p class="card-text">
                        Literatura Random House</p>
                    <h5 class="card-title font-bold">Año de publicación</h5>
                    <p class="card-text">2000</p>
                </div>
            </div>

            <div class="card p-10 m-10 flex justify-center">
                <pdf-viewer 
                    src="/assets/books/historia-y-comunicacion-social.pdf"
                    [render-text]="true"
                    [original-size]="false"
                    style="width: 75%; height: 1150px"
                    [zoom-scale]="'page-width'"
                >
                </pdf-viewer>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>